@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello There ! from .NET 7</h1>
    <p>If you're reading this, that means a sample .NET app is deployed in Azure App Services sucessfully.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
